<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="header">{% block header %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  <script src="{{ url_for('static', filename="js/vendor/jquery.js") }}"></script>
  <script src="{{ url_for('static', filename="js/foundation.min.js") }}"></script>
  <script>
    $(document).foundation();
  </script>
  {% block javascript %}
  {% endblock %}
  </body>
</html>

