<!doctype html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <section id="header">{% block header %}{% endblock %}</section>
    <article id="content">{% block content %}{% endblock %}</article>
    <section id="footer">
      {% block footer %}
      {% endblock %}
    </section>

  <script src="{{ url_for('static', filename="js/jquery-2.1.0.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/foundation.min.js") }}"></script>
  <script>
    $(document).foundation();
  </script>
    <script type="text/javascript">
    (function(d) {
    var config = {
    kitId: 'zem0vqh',
    scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>

