{% extends "base.html" %}
{% block title %}{{ gallery.name }}{% endblock %}

{% block header %}
<h1><a href="/">Photos and Text</a> | {{ gallery.name }}</h1>
{% endblock %}

{% block content %}
  <section>
  <div class="row">
    <div class="small-12 medium-6 columns medium-centered text-center">
      <p>{{ gallery.description }}</p>
    </div>
  </div>
  </section>
  <section id="galleryWrap">
    <div class="row">
      <div id="gallery">
        {% for photo in gallery.photos %}
          {% set crop = photo.crops.filter_by(name="home600").first() %}
          <a href="{{ url_for('photo_view', photo_id=photo.id) }}">
             <div class="crop" style="height: {{ crop.height/1.8 }}px; width: {{ crop.width/1.8 }}px; background-image: url('{{ crop.url() }}');"></div>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename="js/freewall.js") }}"></script>
<script>
$(window).load(function () {
  $(document ).ready(function() {
    var wall = new freewall("#gallery");
    wall.reset({
      selector: '.crop',
      animate: false,
      cellW: 300,
      cellH: 125,
      onResize: function() {
        wall.fitWidth();
      }
    });
    wall.fitWidth();
  });
});
/*
$(window).load(function () {
  $( document ).ready(function() {
   $('.gallery').collagePlus({
      'targetHeight':200,
      'allowPartialLastRow': true,
      'direction':'horizontal'
    });
  });
});
*/
</script>
{% endblock %}