{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
  <div class="header-wrap">
    <div class="curtain">
    </div>
    <div class="background">
      <img data-interchange="[{{ small_header.url }}, (default)], [{{ medium_header.url }}, (medium)],[{{ large_header.url }}, (large)]">
      <noscript><img src="{{ large_header.url }}"></noscript>
    </div>
  </div>
  <div class="sticky">
    <nav class="header-bar" data-topbar>
      <div class="header-text">
        <h1>Photos and Text</h1>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <section id="gallery-wrap">
    <div id="gallery-wrap" class="row">
      <div>
        {% for gallery in galleries.items %}
          <div class="small-12 medium-6 large-3 columns galleries">
          {% set crop = gallery.thumbnails.filter_by(name="thumb400").first() %}
          <a href="{{ url_for('gallery_view', gallery_id=gallery.id) }}">
            <img src="{{ crop.url }}">
            <div class="gallery-title-bg"></div>
            <div class="gallery-title">
              <h3>{{ gallery.name }}</h3>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
<div class="row pagination">
  {% if galleries.has_prev %}
  <div class="small-6 collumns left left-align">
    <a href="/page/{{ galleries.prev_num }}"><icon class="icon-arrow-left"></icon></a>
  </div>
  {% endif %}
  {% if galleries.has_next %}
  <div class="small-6 collumns right right-align">
    <a href="/page/{{ galleries.next_num}}"><icon class="icon-arrow-right"></icon></a>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block javascript %}

{% endblock %}