{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
  <div class="header-wrap">
    <div class="curtain">
    </div>
    <div class="background">
      {% set header = header_background.crops.filter_by(name="display1600").first() %}
      <img src="{{ header.url() }}">
    </div>
    <div class="header-text">
      <h1>Photos and Text</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section id="gallery-wrap">
    <div id="gallery-wrap" class="row">
      <div>
        {% for gallery in galleries %}
          <div class="small-12 medium-6 large-3 columns galleries">
          {% set photo = gallery.photos.first() %}
          {% set crop = photo.crops.filter_by(name="thumb400").first() %}
          <a href="{{ url_for('gallery_view', gallery_id=gallery.id) }}">
             <img src="{{ crop.url() }}">
          </a>
          <h3>{{ gallery.name }}</h3>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
  {% if user.is_authenticated() %}
  <p>Logged in as {{ user.username }}</p>
  {% endif %}
{% endblock %}
{% block javascript %}

{% endblock %}