{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
  <div class="header-wrap">
    <div class="curtain">
    </div>
    <div class="background">
      <img data-interchange="[{{ small_header.url }}, (default)], [{{ medium_header.url }}, (medium)],[{{ large_header.url }}, (large)]">
      <noscript><img src="{{ large_header.url }}"></noscript>
    </div>
  </div>
  <div class="sticky">
    <!-- TODO: Make this less hacky -->
    <nav class="header-bar show-for-large-up" data-topbar data-options="sticky_on: large">
      <div class="header-text">
        <h1>Photos and Text</h1>
      </div>
    </nav>
    <nav class="header-bar show-for-medium" data-topbar data-options="sticky_on: medium">
      <div class="header-text">
        <h1>Photos and Text</h1>
      </div>
    </nav>
    <nav class="header-bar show-for-small">
      <div class="header-text">
        <h1>Photos and Text</h1>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <section id="home-gallery-wrap">
    <div id="gallery-wrap" class="row">
      <div>
        {% for gallery in galleries.items %}
          <div class="small-12 medium-6 large-3 columns galleries">
          {% set crop = gallery.thumbnails.filter_by(name="thumb400").first() %}
          <a class="gallery-link" href="{{ url_for('gallery_view', gallery_id=gallery.id) }}" data-name="{{ gallery.name }}" data-description="{{ gallery.description }}">
            <img src="{{ crop.url }}" alt="{{ gallery.description }}">
            <div class="gallery-title-bg"></div>
            <div class="gallery-title">
              <h3>{{ gallery.name }}</h3>
            </div>
            <div class="gallery-date">
              <p>{{ gallery.dates() }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
<div class="row pagination">
  {% if galleries.has_prev %}
  <div class="small-6 collumns left left-align">
    <a id="nav-left" href="/page/{{ galleries.prev_num }}"><icon class="icon-arrow-left"></icon></a>
  </div>
  {% endif %}
  {% if galleries.has_next %}
  <div class="small-6 collumns right right-align">
    <a id="nav-left" href="/page/{{ galleries.next_num}}"><icon class="icon-arrow-right"></icon></a>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
  var isMobile = window.matchMedia("only screen and (max-width: 760px)");
  if (isMobile.matches == false){
    $(".gallery-link").hover(
      function(){
        var description = $(this).attr("data-description");
        $(this).find(".gallery-title").html("<p>"+description+"</p>");
        $(this).find(".gallery-title-bg").addClass("gallery-title-bg-hover");
      },
      function(){
        var name = $(this).attr("data-name");
        $(this).children(".gallery-title").html("<h3>"+name+"</h3>");
        $(this).find(".gallery-title-bg").removeClass("gallery-title-bg-hover");
      })
    }
  });
</script>
{% endblock %}