{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% if messages %}
<div class="row">
  <div class="small-12">
    {{ messages }}
  </div>
</div>
{% endif %}
<div class="row login-box">
  <div class="small-12 large-4 columns small-centered">
    <form action="{{ url_for('login_view') }}" method="post">
      {{ form.hidden_tag() }}
      <label>{{ form.username.label }}</label>
      {{ form.username }}
      <label>{{ form.password.label }}</label>
      {{ form.password }}
      {{ form.submit(class_="button expand")}}
    </form>
  </div>
</div>
{% endblock %}