{% extends "base.html" %}
{% block title %}Photo{% endblock %}

{% block content %}
<div class="row">
  <div class="small-12 large-9 columns photo">
    <img
      {% if photo.orientation == 'portrait' %} style="margin: 0 auto;" {% endif %}
      data-interchange="[{{ small_photo.url }}, (default)], [{{ medium_photo.url }}, (medium)], [{{ large_photo.url }}, (large)]"
    >
    <noscript><img src="{{ large_photo.url }}"></noscript>
  </div>
  <div class="small-12 large-3 columns">
    <div class="photo-view-sidebar">
      {% if photo.desc %}
      <section class="photo-view-sidebar-section">
        <p class="photo-desc">{{ photo.desc }}</p>
      </section>
      {% endif %}
      {% if photo.location %}
      <section class="photo-view-sidebar-section">
        <h4>Location</h4>
        <p>{{ photo.location }}</p>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ photo.location }}&zoom=13&size=300x150&maptype=roadmap&sensor=false&markers=color:blue|{{ photo.gallery.location }}">
      </section>
      {% endif %}
      <section class="photo-view-sidebar-section">
        <h4>Gallery</h4>
        <a href="{{ url_for('gallery_view', gallery_id=photo.gallery.id) }}">{{ photo.gallery.name }}</a>
      </section>
      <section class="photo-view-sidebar-icons">

      </section>
      <section class="photo-view-sidebar-exif">
        <h4>EXIF Info</h4>
        <p>Taken {{ photo.exif_date_taken }}</p>
        <p>Focal Length: {{ photo.exif_focal }}</p>
        <p>Aperture: {{ photo.exif_aperture }}</p>
        <p>ISO: {{ photo.exif_iso }}</p>
        <p>Shutter {{ photo.exif_shutter }}</p>
      </section>
      <section class="photoNav">
        {% if photos.has_prev %}
        <a href="{{ url_for('gallery_photo_view',gallery_id=photos.prev().items[0].gallery.id, gallery_pos=photos.prev().items[0].gallery_pos) }}">
          <button class="photo-nav-button">
          <icon class="icon-arrow-left"></icon>
          </button>
        </a>
        {% else %}
          <button class="photo-nav-button disabled">
            <icon class="icon-arrow-left"></icon>
          </button>
        {% endif %}
        <a href="/">
          <button class="photo-nav-button">
            <icon class="icon-home"></icon>
          </button>
        </a>
        <a href="#">
          <button class="photo-nav-button">
            <icon class="icon-info"></icon>
          </button>
        </a>
        <a href="download">
          <button class="photo-nav-button">
            <icon class="icon-cloud-download small-centered"></icon>
          </button>
        </a>
        </button>
        {% if photos.has_next %}
        <a href="{{ url_for('gallery_photo_view',gallery_id=photos.next().items[0].gallery.id, gallery_pos=photos.next().items[0].gallery_pos) }}">
          <button class="photo-nav-button">
            <icon class="icon-arrow-right"></icon>
          </button>
        </a>
        {% else %}
          <button class="photo-nav-button disabled">
            <icon class="icon-arrow-right"></icon>
          </button>
        {% endif %}
      </section>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(window).load(function () {
  $(document ).ready(function() {
    $(".icon-info").click(function() {
      $(".photo-view-sidebar-exif").toggle()
    });
  });
});
</script>
{% endblock %}