{% extends "base.html" %}
{% block title %}Photo{% endblock %}

{% block content %}
<div class="row">
  <div class="small-12 large-9 columns photo">
    <img src="{{ photo.crops.filter_by(name="display1280").first().url() }}">
  </div>
  <div class="small-12 large-3 columns">
    <div class="photo-view-sidebar">
      {% if photo.desc %}
        <div class="section">
          <p>{{ photo.desc }}</p>
        </div>
      {% endif %}
      <div class="section">
        <h4>Gallery</h4>
        <a href="{{ url_for('gallery_view', gallery_id=photo.gallery.id) }}">{{ photo.gallery.name }}</a>
      </div>
      <div class="photo-view-sidebar-exif section">
        <h4>EXIF Info</h4>
        <p>Taken {{ photo.exif_date_taken }}</p>
        <p>Focal Length: {{ photo.exif_focal }}</p>
        <p>Aperture: {{ photo.exif_aperture }}</p>
        <p>ISO: {{ photo.exif_iso }}</p>
        <p>Shutter {{ photo.exif_shutter }}</p>
      </div>
      <a href="{{ photo.url() }}"><button class="download-button">Download</button></a>
      <div class="photoNav">
          <button class="button prev left">Previous</button>
          <button class="button next right">Next</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
