{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone/jah-dz.css') }}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-12 large-9 columns text-center">
    <h1>Upload-a-tron 9009</h1>
    <p>Imma funky robot, gimme food.</p>
    <form id="upload" class="dropbox" action="/api/v1/photos" method=post enctype=multipart/form-data>
      <div>
        <p>Om nom nom.</p>
      </div>
    </form>
    <div id="upload-results" class="dropzone-previews">

    </div>
  </div>
  <form action="/api/v1/galleries/{{ gallery.id }}">
    <div id="upload-sidebar" class="small-12 large-3 columns">
      <h3>Gallery Details</h3>
      <label>Name</label>
      <input type="text">
      <label>Description</label>
      <textarea></textarea>
      <label>Location</label>
      <input type="text">
      <button>Save</button>
    </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename="js/dropzone.min.js") }}"></script>
<script>
$(document ).ready(function() {
  $("#upload").dropzone({
    url: "{{ url_for("gallery_view",gallery_id=gallery.id) }}",
    previewsContainer: "#upload-results",
    thumbnailWidth: 200,
    thumbnailHeight: 200,
    maxThumbnailFilesize: 20,
    previewTemplate: '\
    <div class="dz-preview dz-file-preview"> \
      <div class="dz-details"> \
      <div class="dz-size" data-dz-size></div> \
      <img data-dz-thumbnail /> \
    </div> \
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div> \
    <div class="dz-error-message"><span data-dz-errormessage></span></div> \
  </div>'
  });
});
</script>
{% endblock %}