/* Foundation Overides */
body {
    font-family: "soleil",'helvetica neue', 'helvetica', sans-serif;
    max-width: 1680px;
    margin: 0 auto;
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
}

img {
    vertical-align: bottom;
}

.row {
    max-width: 100%;
}

h1 {
    font-family: "rooney-web",sans-serif;
    -moz-font-feature-settings:"liga=1, dlig=1";
    -ms-font-feature-settings:"liga", "dlig";
    -o-font-feature-settings:"liga", "dlig";
    -webkit-font-feature-settings:"liga", "dlig";
    font-feature-settings:"liga", "dlig";
}

h2 {
    font-family: "rooney-web",sans-serif;
    -moz-font-feature-settings:"liga=1, dlig=1";
    -ms-font-feature-settings:"liga", "dlig";
    -o-font-feature-settings:"liga", "dlig";
    -webkit-font-feature-settings:"liga", "dlig";
    font-feature-settings:"liga", "dlig";
}

.right-align {
    text-align: right;
}
/* Typkit CSS */
.wf-loading h1, .wf-loading h2, .wf-loading p {
    visibility: hidden;
  }

.wf-active h1, h2 {
    visibility: visible;
}

/* Base CSS */
#messages {
    background: #F3FF7E;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.user-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: #323232;
    color: #f2f2f2;
    z-index: 75;
}

.user-menu icon {
    font-size: 2em;
}

#user-menu-content {
    width: 175px;
}

#user-menu-content p {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 0;
    color: #888;
}

/* Homepage CSS */
.header-wrap {
    position: relative;
    overflow: hidden;
    height: 80vh;
    padding: 20px;
}

.curtain {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 800px;
    z-index: 1;
    opacity: .0;
}
#header .background {
    position: absolute;
    top: -20%;
    left: -100%;
    right: -10px;
    bottom: -10px;
    width: 300%;
    -webkit-filter: blur(5px);
}

#header .background img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.header-text {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

.header-text h1 {
    color: #f2f2f2;
}

.galleries {
    padding: 5px;
}

.crop {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}

.pagination icon {
    font-size: 3em;
}

/* Galleries */
#header-gallery-name {
    text-align: center;
}

#gallery-wrap {
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
    width: 100%;
}

.gallery-meta {
    text-align: center;
    color: #888888;
}

.gallery-meta p {
    font-size: 1em;
    font-weight: 100;
    margin-bottom: .5em;
}
/* Photo View */
.photo {
    background: #000;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.photo img {
    max-height: 600px;
    max-width: 145%;
    margin-left: -22.5%;
}
.photo-desc {
    margin-bottom: 0;
}

.photo-view-sidebar-section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: #e2e2e2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.photo-view-sidebar-icons {
    font-size: 1.75em;
    text-align: center;
    border: none;
}

.photo-view-sidebar-icons icon {
    padding-left: 5%;
    padding-right: 5%;
}

.photo-view-sidebar-exif {
    display: none;
    color: #808080;
    border-top: #e2e2e2;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 1em;
    padding-top: 1em;
}

.photo-view-sidebar-exif p {
    margin-bottom: 0;
}

.photoNav {
    margin-top: 30px;
}

.photo-view-sidebar button {
    width: 98%;
}

.photoNav icon {
    font-size: 3em;
}

/* Login Page */
.login-box {
    position: fixed;
    top: 25%;
    padding-top: 30px;
    padding-bottom: 10px;
    background: #f8f8f8;
}
/* Upload Page */
.upload-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
}

.upload-sidebar input {
    width: 100%;
    padding: 4px;
    border: 1px;
    border-style: solid;
    border-color: #ccc;
}

.upload-sidebar textarea {
    font-size: 1em;
    margin: 0;
    padding: 4px;
    height: 150px;
}

.upload-sidebar .row {
    margin-bottom: 1em;
}

.upload-box {
    min-height: 100vh;
    padding: 10px;
}

.upload-box-hover {
    background: #f2f2f2;
}

.upload-progress-bar {
    height: 10px;
    width: 0;
    background: yellowgreen;
    position: absolute;
    bottom: 0;
    left: 0;
}

.upload-progress-count {
    text-align: center;
    font-weight: 100;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.photo-modal-landscape {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
    width: 90%;
}

.photo-modal-landscape .photo-modal-photo {
    width: 65%;
    display: inline-block;
    padding: 5px;
}

.photo-modal-landscape .photo-modal-sidebar {
    width: 33%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.photo-modal-portrait {
    top: 5%;
    left: 17%;
    bottom: 5%;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
    width: 65%;
}

.photo-modal-portrait .photo-modal-photo {
    width: 55%;
    display: inline-block;
    padding: 5px;
}

.photo-modal-portrait .photo-modal-sidebar {
    width: 44%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.photo-modal-meta {
    margin-top: 2em;
    padding: 10px 10px 20px 10px;
    border: #888;
    border-width: 1px;
    border-style: solid;
    background: #e8e8e8;
}

.photo-modal-meta p {
    font-size: 1em;
    margin-bottom: 0;
}

.photo-edit-modal img {
    max-height: 590px;
}

.message {
    position: absolute;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    background: #F4E790;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: #b7b07f;
    border-width: 1px;
    border-style: solid;
}

.gallery-modal-window {
    left: 70%;
    width: 40%;
}

#gallery a {
    display: none;
}

.gallery-thumbnail {
    display: inline-block;
    padding: 1px;
}

#gallery-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Medium screens */
@media only screen and (min-width: 40.063em) {
    /* Home page on Medium Screens */
    .header-wrap {
        height: 100vh;
    }
    /* Gallery View Page on Medium Screens */
    .gallery-meta p {
        display: inline-block;
        margin-bottom: 1em;
    }
    /* Photo View Page */
    .photo img {
        max-height: 800px;
        max-width: 110%;
        margin-left: -5%;
    }
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
    /* Home page on Large Screens */


    /* Photos Page on Large Screens */
    .photo {
        width: 78%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
    }

    .photo img {
        max-height: 940px;
        max-width: 100%;
        margin-left: 0;
    }

    .photo-view-sidebar {
        position: fixed;
        top: 0;
        right: 1%;
        width: 20%;
    }

    .photo-view-sidebar-section {
        text-align: left;
    }


    .photoNav {
        position: fixed;
        bottom: 10px;
        left: 79%;
        width: 20%;
    }
}