/* Foundation Overides */
body {
    max-width: 1680px;
    margin: 0 auto;
}

img {
    vertical-align: bottom;
}

.row {
    max-width: 100%;
}

h1 {
    font-family: "rooney-web",sans-serif;;
}

/* Base CSS */
#header {
    padding-left: 10px;
    text-align: center;
}

/* Galleries */
#header-gallery-name {
    text-align: center;
}

#gallery-wrap {
    text-align: center;
    padding: 10px;
    margin-bottom: 100px
}

#gallery img {
    height: 250px;
    width: auto;
}

.crop {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}

/* Photo View */
.photo {
    background: #000;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.photo img {
    max-height: 1280px;
    max-width: 130%;
    margin-left: -15%;
}

.photo-view-sidebar .section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: #e2e2e2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.photo-view-sidebar-exif {
    color: #808080;
}

.photo-view-sidebar-exif p {
    margin-bottom: 0;
}

.photoNav {
    margin-top: 30px;
}

.photo-view-sidebar button {
    width: 98%;
}

.photoNav icon {
    font-size: 3em;
}
/* Upload Page */

.upload-box {
    text-align: center;
    height: 100px;
    background: #8293e3;
    color: #f2f2f2;
    padding-top: 35px;
    margin: 0 auto;
}

.upload-box-hover {
    background: #2B46BF;
}

.editable {
    border: #e0e0e0;
    border-style: solid;
    border-width: 1px;
}

.photo-modal {
    top: 35px;
    left: 5%;
    right: 10px;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
    width: 90%;
}

.message {
    position: absolute;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    background: #F4E790;
    z-index: 10;
    left: 25%;
    right: 0;
    bottom: 25px;
    width: 50%;
    border: #b7b07f;
    border-width: 1px;
    border-style: solid;
}

.gallery-thumbnail {
    display: inline-block;
    padding: 1px;
}

#gallery-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



/* Medium screens */
@media only screen and (min-width: 40.063em) {
    #header {
        text-align: left;
    }

    .download-button {
        width: 49%;
    }

    /* Photo View Page */
    .photo img {
        max-width: 110%;
        margin-left: -5%;
    }

}

/* Large screens */
@media only screen and (min-width: 64.063em) {

    /* Photos Page on Large Screens */
    .photo {
        width: 78%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
    }

    .photo img {
        max-width: 100%;
        margin-left: 0;
    }

    .photo-view-sidebar {
        position: fixed;
        top: 0;
        right: 1%;
        width: 20%;
    }

    .photoNav {
        position: fixed;
        bottom: 10px;
        left: 79%;
        width: 20%;
    }

    /* Uploads page on Large Screens */
    #upload-sidebar {
        position: fixed;
        bottom: 0;
        right: 0;
        top: 0;
    }

}