/* Foundation Overides */
img {
    vertical-align: bottom;
}

.row {
    max-width: 100%;
}
/* Base CSS */
#header {
    padding-left: 10px;
}

.message {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    background: #F4E790;
}

/* Galleries */
#galleryWrap {
    padding: 10px;
}

#gallery img {
    height: 250px;
    width: auto;
}

.crop {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}
/* Photo View */
.photo {
    background: #000;
    padding: 10px;
    text-align: center;
}

.photo img {
    max-height: 1280px;
}

.photoExif {
    color: #808080;
    margin-bottom: 1em;
}

.photoExif p {
    margin-bottom: 0;
}

.photoNav {
    margin-top: 30px;
}

.photoNav button {
    width: 33%;
}
.photoNav .prev {
    float: left;
}

.photoNav .next {
    float: right;
}

/* Upload Page */
#upload {
    width: 80%;
    height: 100px;
    background: #8293e3;
    color: #f2f2f2;
    padding-top: 35px;
    margin: 0 auto;
}

#upload-sidebar {
    background: #f9f9f9;
    margin-top: 20px;
}

/* Medium screens */
@media only screen and (min-width: 40.063em) {

}

/* Large screens */
@media only screen and (min-width: 64.063em) {

    /* Photos Page on Large Screens */
    .photoSidebar {
        position: fixed;
        top: 0;
        margin-top: 0;
    }

    .photoNav {
        position: fixed;
        bottom: 10px;
        left: 76%;
        width: 23%;
    }

    .photoNav button {
        width: 49%;
    }

    /* Uploads page on Large Screens */
    #upload-sidebar {
        position: fixed;
        bottom: 0;
        right: 0;
        top: 0;
    }

}