.display img {
    max-width: 400px;
}

form#dropbox {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background: #ccc;
    border-radius: 5px;
}

#dropbox p {
    padding-top: 35px;
}

#previewBox {
    margin: 0 auto;
    text-align: center;
}

#progress {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.bar {
    width: 100%;
    height: 10px;
    background: greenyellow;
}