/* Photo View Page */
#photoSidebar {
    color: #525252;
}
#photoSidebar h3 {
    color: #111111;
    margin-top: 5px;
}

#photoSidebar .section {
    padding: 10px;
    border-bottom: #ccc;
    border-width: 1px;
    border-bottom-style: solid;
}

#photoInfo p{
    margin: .5em 0;
}

.placeHolder {
    color: #888;
}

#galleryList {
    padding-bottom: 10px;
}

/* Photo Upload Page */
#dropbox {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    height: 100px;
    background: #eee;
    font-size: 20px;
}

#dropbox p {
    padding-top: 35px;
}

#previewBox {
    margin: 0 auto;
    text-align: center;
}

#stickyFooter {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    background: #fff;
    padding-bottom: 20px;
    border-top: #ccc;
    border-width: 1px;
    border-top-style: solid;
}

#progress {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.counts {
    margin-bottom: 10px;
}

.bar {
    height: 10px;
    background: greenyellow;
}