/* Site wide */
body {
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header a {
    color: #111;
    text-decoration: none;
}

/* Home Page */
.mosaicflow__column {
    float:left;
}

.photoThumb {
    padding: 5px;
}
.photoThumb img {
    display:block;
    width:100%;
    height:auto;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}
/* Photo View Page */
#photo {
    position: relative;
    background: #252525;
}

#photoDescContent {
    padding: 10px;
}

#photoSidebar {
    color: #525252;
}

#photoSidebar h2 {
    padding: 10px;
    margin: 0;
    color: #111111;
}
#photoSidebar h3 {
    color: #111111;
    margin-top: 0;
    margin-bottom: 0;
}

#photoSidebar .section {
    padding: 10px;
    border-bottom: #ccc;
    border-width: 1px;
    border-bottom-style: solid;
}

#photoInfo p{
    margin: 0;
}

.info {
    color: #888;
}

.placeHolder {
    color: #888;
}

#tagList {
    padding-bottom: 10px;
    margin-top: 5px;
}

#tagList.ui-widget {
    font-size: .9em;
}

/* Photo Upload Page */
#galleryHeader {
    height: 70px;
}

.galleryHeaderSection {
    text-align: center;
    padding-top: 30px;
}

#galleryInfo {
    display: none;
    padding-right: 10px;
}

#galleryInfo input {
    width: 400px;
}

#dropbox {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    height: 100px;
    background: #eee;
    font-size: 20px;
}

#dropbox p {
    padding-top: 35px;
}

#previewBox {
    margin: 0 auto;
    text-align: center;
}

#stickyFooter {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    background: #fff;
    padding-bottom: 20px;
    border-top: #ccc;
    border-width: 1px;
    border-top-style: solid;
}


.counts {
    margin-top: 30px;
    margin-left: 10px;
}

.progress {
    display: inline-block;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bar {
    width: 0;
    height: 10px;
    background: greenyellow;
}

#galleryButtons {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 10px;
}

#galleryButtons button {
    margin-top: 20px;
}