<div ng-controller="photoListCtrl">
  <div class="pure-g-r">
    <div id="header" class="pure-u-1-2">
      <h2>Photos and Text</h2> THE NEXT GENERATION!
    </div>
  </div>
  <div ng-repeat="gallery in galleries.results">
    <div class="galleryListWrap">
      <div class="pure-g-r">
        <div class="pure-u-1-2">
          <p class="galleryListName">{{ gallery.name }}</p>
        </div>
        <div class="pure-u-1-2">
          <p class="galleryListDate">{{ gallery.created | date:'medium'}}</p>
        </div>
      </div>
      <div class="pure-g-r">
        <div class="pure-u-1-5" ng-repeat="photo in gallery.photos">
          <div class="photoThumb">
            <a ng-click="open(photo.id)" href="?photo={{ photo.id }}"><img ng-src="{{ photo.crops.thumb400 }}"></a>
          </div>
        </div>
        <div class="pure-u-1 galleryListLink">
          <a href="#/gallery/{{ gallery.id }}">View all {{ gallery.photo_count }} photos...</a>
        </div>
      </div>
    </div>
  </div>
</div>
