
<div ng-controller="photoUploadCtrl">
  <div class="pure-g-r">
    <div id="dropbox" class="pure-u-1">
      <form id="fileupload" action="/api/photos" data-file-upload="options" method="POST" enctype="multipart/form-data" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
        Upload Photos
      </form>
      <button ng-click="savePhotos()">Save Photos</button>
    </div>
  </div>
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-u-1-5" ng-repeat="photo in photoList">
        <div class="uploadResult">
          <div class="uploadThumb">
            <img src="{{ photo.crops.thumb400 }}">
          </div>
            <textarea placeholder="Description" ng-model="photo.desc">{{ photo.desc }}</textarea>
            <textarea placeholder="Tags" ng-model="photo.tags"></textarea>
        </div>
        Desc = {{ photo.desc }}
      </div>
    </div>
  </div>
</div>

    