
<div ng-controller="photoUploadCtrl">
  <div class="pure-g-r" ng-show=error>
    <div id="errorBar" class="pure-u-1">
      {{ error }}
    </div>
  </div>
  <div class="pure-g-r">
    <div id="dropbox" class="pure-u-1">
      <p ng-hide="photoListShow">Upload Photos</p>
      <form id="fileupload" data-file-upload="options" method="POST" enctype="multipart/form-data" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
        <input type="text" ng-show="photoListShow" placeholder="Give this gallery a name?" ng-model="gallery.name"></input>
      </form>
    </div>
  </div>
  <div class="pure-g-r">
    <div class="pure-u-1-5" ng-repeat="photo in photoList">
      <div class="uploadResult">
        <div class="uploadThumb">
          <img ng-src="{{ photo.crops.thumb400 }}">
        </div>
          <textarea placeholder="Description" ng-model="photo.desc">{{ photo.desc }}</textarea>
          <textarea placeholder="Tags" ng-model="photo.tags"></textarea>
      </div>
    </div>
  </div>
  <div ng-show="photoListShow" id="saveBar">
    <div class="pure-g-r">
      <div class="pure-u-1">
        <button class="pure-button pure-button-primary" ng-click="savePhotos()">Save Photos</button>
      </div>
    </div>
  </div>
</div>

    