/* Icon Stuff */
@font-face {
	font-family: 'fontawesome';
	src:url('/static/fonts/fontawesome.eot');
	src:url('/static/fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/fontawesome.woff') format('woff'),
		url('/static/fonts/fontawesome.ttf') format('truetype'),
		url('/static/fonts/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-angle-left, .icon-angle-right {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}

/* Home Page */
#header {
    vertical-align: middle;
}
#header h2 {
    display: inline-block;
    margin-right: 10px;
}

.photoThumb {
    padding: 2px;
}

.hideScroll {
    overflow: hidden;
}

/* Photo Page */
#photoWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#photo {
    padding: 10px;
    background: #000;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
}

#photo img {
    max-width: 100%;
    max-height: 100%;
}

#closePhoto {
    height: 30px;
    background: #ccc;
    color: #333;
    text-align: right;
    padding-right: 10px;
    font-size: 18pt;
    font-weight: 100;
    position: fixed;
    top: 0;
    left: 80%;
    right: 0;
}

#closePhoto a {
    color: #000;
    text-decoration: none;
}

#photoSidebar {
    background: white;
    padding: 10px;
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 80%;
    right: 0;
}

#tags {
    padding-top: 1em;
    padding-bottom: 1em;
}

#tags p {
    display: inline;
}

#tags ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

#tags li {
    display: inline;
    margin-left: 2px;
    background: lightblue;
    margin-right: 2px;
    padding: 2px 5px;
}

.nav {
    font-size: 36px;
    vertical-align: middle;
    padding: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#exif {
    padding-top: 1em;
    padding-bottom: 1em;
}

#exif p {
    color: #999;
    margin: 0;
}

#photoSidebar button {
    margin-top: 1em;
}

/* Photo Upload Page */
#dropbox {
    background: #f2f2f2;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

#dropbox input[type=text] {
    float: left;
    margin: 10px;
    width: 40%;
    padding: 5px;
}

#saveBar {
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

#saveBar button {
    float: right;
    margin: 10px;
}
.uploadResult {
    border: solid;
    border-width: 1px;
    border-color: #eeeeee;
    margin: 5px;
}

.uploadThumb {
    padding: 5px;
    background: black;
}

.uploadResult textarea {
    width: 98%;
    border: solid;
    border-color: #ccc;
    border-width: 1px;
    margin-top: 2px;
    resize: none;
}