{% extends "base.html" %}
{% block metadata %}
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.tagit.css') }}">
{% endblock %}
{% block title %}<title> {{ photo.title }} - Photos and Text </title>{% endblock %}


{% block header %}{% endblock %}
{% block body %}
<div class="pure-g-r">
  <div class="pure-u-4-5">
    <div id="photo">
      <img src="{{ photo.get_thumbnail("display1280") }}">
    </div>
  </div>
  <div class="pure-u-1-5">
    <div id="photoSidebar">
      <div id="photoDesc">
        {% if photo.desc %}
          <div id="photoDescContent">{{ photo.desc|safe }}</div>
        {% else %}
          <div id="photoDescContent" class="placeHolder"></div>
        {% endif %}
      </div>
      <div id="photoInfo" class="section">
        <h3>Photo Details</h3>
        <p class="taken">Taken on <span class="info">{{ photo.exif_date_taken }}</span></p>
        <p class="shutter">Shutter: <span class="info">{{ photo.exif_shutter }}</span></p>
        <p class="aperture">Aperture: <span class="info">{{ photo.exif_aperture }}</span></p>
        <p class="focal">Focal Length: <span class="info">{{ photo.exif_focal }}</span></p>
        <p class="iso">ISO: <span class="info">{{ photo.exif_iso }}</span></p>
      </div>
      <div id="photoGalleries" class="section">
        <h3>Tags</h3>
        <ul id="tagList">
          {% for tag in photo.tags %}
          <li>{{ tag.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div id="location" class="section">
        <h3>Location</h3>
        <img src="http://f.cl.ly/items/0w2w2b2z0P3W3824412B/Screen%20Shot%202013-07-23%20at%209.08.44%20PM.png"
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename="js/jquery.contenteditable.js") }}"></script>
<script src="{{ url_for('static', filename="js/tag-it.min.js") }}"></script>
<script>
$(document).ready(function() {

  $.getJSON('http://127.0.0.1:5000/api/tags/', function(data) {
      var items = [];
      var list = [];
      $.each(data.results, function(key, val) {
        list.push(val.name);
      });
      $("#tagList").tagit({
        availableTags: list,
        autocomplete: {delay: 0, minLength: 2},
        showAutocompleteOnFocus: true,
        afterTagAdded: function(event, ui) {
          var tagList = $("#tagList").tagit("assignedTags");
          var data = JSON.stringify({tags:tagList});
          $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "{{ url_for('api_photo', photoID=photo.id) }}",
            data: data,
            success: function(data) {
            console.log(data);
            }
          })
        },
        afterTagRemoved: function(event, ui) {
          var tagList = $("#tagList").tagit("assignedTags");
          var data = JSON.stringify({tags:tagList});
          $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "{{ url_for('api_photo', photoID=photo.id) }}",
            data: data,
            success: function(data) {
            console.log(data);
            }
          })
        }
      });
  });

  $("#photoDescContent").contentEditable({
    "newLineOnEnterKey": true,
    "onFocusIn": function(){
      $("#photoDescContent").removeClass('placeHolder');
      },
    "onBlur" : function(element){
        var data = {desc:element.content};
        $.ajax({
          type: 'POST',
          url: "{{ url_for('api_photo', photoID=photo.id) }}",
          data: data,
          success: function(data) {
            console.log(data);
          }
        });
      }
    });
});
</script>
{% endblock %}
