{% extends "base.html" %}
{% block body %}
<div class="pure-g-r">
  <div class="pure-u-1">
    <div id="dropbox">
      <p>Drop photos here.</p>
    </div>
  </div>
</div>
<div class="pure-g-r">
  <div class="pure-u-4-5">
    <div id="previewBox">
    </div>
  </div>
  <div id="uploadSidebar" class="pure-u-1-5">
    <div id="galleryInfo">
      <input type="text" placeholder="Give this gallery a name?"></input>
    </div>
    <div id="uploadHelpText">
      <div class="counts">
        Uploading photo <span id="done">1</span> of <span id="count"></span>
      </div>
      <div class="tags">
        Select a photo (or photos) to add tags.
      </div>
    </div>
    <div id="galleryButtons">
      <select>
        <option value="private">Private</option>
        <option value="public">Public</option>
      </select>
      <button class="pure-button pure-button-primary">Submit</button>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ url_for('static',filename='js/jquery.fileupload.js') }}"></script>
<script>

$(document).ready(function() {
       var done = 0;
       $('#dropbox').fileupload({
        url: "{{ url_for('api_photo_list') }}",
        dropZone: $("#dropbox"),
        drop: function (e, data) {
          var count = 0;
          $("#uploadSidebar").css('display','inline-block');
          $("#dropbox").hide();
          $("#galleryInfo").show();
          $.each(data.files, function (index, file) {
              count = count + 1;
              $("#count").text(count);
              console.log('Dropped file: ' + file.name);
              $("#previewBox").prepend('<div id='+file.name+' class="uploadWrap"><div class="progress"><p class="bar"></p></div></div>');

          });
        },
        done: function (e, data) {
            $.each(data.result.results, function (index, result) {
              done = done +1;
              console.log(result.filename);
              $("div[id='"+result.filename+"'] .progress").hide();
              $("div[id='"+result.filename+"']").append('<div id='+result.id+' class="uploadResult"><img src='+(result.crops.thumb200)+'/><div class="desc" contenteditable=true>Enter a Description..</div>');
              $("#done").text(done);
            });
        },
        progress: function (e, data) {
          console.log(data);
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $.each(data.files, function (index, file) {
            console.log(file.name);
            $("div[id='"+file.name+"'] .progress .bar").css(
              'width',
              progress + '%'
          );
          });
        },
        stop: function (e, data) {
          $("#uploadHelpText .counts").hide();
          $("#uploadHelpText .tags").show();
        },
        dragover: function(e, data) {
          $("#dropbox").css("background","#ccc");
        }
    });
    $('#dropbox').on('dragleave', function (e) {
      $("#dropbox").css("background","#eee");
    });
});
</script>
{% endblock %}