{% extends "base.html" %}
{% block body %}
<div class="pure-g-r">
  <div class="pure-u-1">
    <div id="dropbox">
      <p>Drop photos here.</p>
    </div>
  </div>
</div>
<div class="pure-g-r">
  <div class="pure-u-1">
    <div id="previewBox">
    </div>
  </div>
</div>
<div id="stickyFooter">
  <div id="progress">
    <div class="counts">
      Uploading photo <span id="done">1</span> of <span id="count"></span>
    </div>
    <div class="bar" style="width: 0%;"></div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ url_for('static',filename='js/jquery.fileupload.js') }}"></script>
<script>

$(document).ready(function() {
       var done = 0;
       $('#dropbox').fileupload({
        url: "{{ url_for('api_photo_list') }}",
        dataType: 'json',
        dropZone: $("#dropbox"),
        drop: function (e, data) {
          var count = 0;
          $("#stickyFooter").show();
          $.each(data.files, function (index, file) {
              count = count + 1;
              $("#count").text(count);
              console.log('Dropped file: ' + file.name);
          });
        },
        done: function (e, data) {
            $.each(data.result, function (index, result) {
              done = done +1;
              $("#previewBox").prepend('<div class="pure-u-1-6"><img id='+result.id+' src='+(result.crops.thumb200)+'/></div>');
              $("#done").text(done);
            });
        },
        progress: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress .bar').css(
              'width',
              progress + '%'
          );
          console.log((data.bitrate / 1024 * 8)+" KBps");
        },
        stop: function (e, data) {
          $("#stickyFooter").hide();
        },
        dragover: function(e, data) {
          $("#dropbox").css("background","#ccc");
        }
    });
    $('#dropbox').on('dragleave', function (e) {
      $("#dropbox").css("background","#eee");
  });
});
</script>
{% endblock %}