<div ng-controller="photoListCtrl"  ng-class="{contentSlide: photoEdit}">
  <article>
      <div class="row">
        <div class="small-12 medium-4 large-3 columns upload-sidebar">
          <div class="row">
            <div class="small-12 columns">
              <h3>Gallery Name</h3>
              <input id="name" ng-model="gallery.name" ng-blur="galleryUpdate(gallery)"></input>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <h3>Description</h3>
              <textarea id="description" ng-model="gallery.description" ng-blur="galleryUpdate(gallery)">{[{ gallery.description }]}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <h3>Location</h3>
              <input type="text" ng-model="gallery.location" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control" ng-blur="galleryUpdate(gallery)">
            </div>
          </div>
          <div class="upload-progress-count" ng-show="uploadInProgress">
            Uploading {[{ uploadCountProgress }]} of {[{ uploadCountTotal }]} photos.
          </div>
          <div class="upload-progress-bar" style="width:{[{ uploadPercent }]}%;"></div>
        </div>
        <div class="small-12 medium-8 large-9 columns upload-box" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="upload-box-hover">
          <div class="gallery-thumbnail" ng-repeat="photo in gallery.photos" ng-click="open(photo)">
            <img ng-src="{[{ photo.crops.thumb200.url }]}">
          </div>
        </div>
      </div>
    </section>
  </article>
  <div id="message"><p></p></div>
  <section id="gallery-footer">
    <!-- jquery file upload code
    <form id="fileupload" class="upload-box" data-file-upload="options" method="POST" enctype="multipart/form-data" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
    </form>

    <div class="upload-box" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="upload-box-hover">
      <p>Drop files here..</p>
    </div>
    -->
    <div class="small-centered message" ng-show="messageStatus">
      {[{ messageContent }]}
      </div>
  </section>
</div>