<section>
  <div class="message small-centered" ng-show="messageStatus">
    {[{ messageContent }]}
  </div>
  <div class="row">
    <div class="small-12 large-7 columns">
      <h3>Full Image</h3>
      <img ng-src="{[{ photo.crops.display_z.url }]}">
    </div>
    <div class="small-12 large-5 columns">
      <h3>Details</h3>
      <label>Description</label>
      <textarea ng-model="photo.desc" ng-blur="photoSave(photo)" placeholder="Photo Description">{[{ photo.desc }]}</textarea>
      <label>Tags</label>
      <input type="text">
      <label>Location</label>
      <input type="text">
      <label>Favorite</label>
      <input ng-model="photo.favorite" type="checkbox">
      {[{ photoTest }]}
    </div>
  </div>
  <div class="row">
    <div class="small-12">
      <button class="button right" ng-click="ok()">Done</button>
    </div>
  </div>
</section>

